.inr{
    background-image: url(img/Arrr-mazing\ Pirate\ Ship\ Desktop\ Wallpapers\ -\ Instant\ Download.jfif);
    height: 450px;
    width: 101.2%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: -22px;
    color: white;
    margin-left: -8px;
    box-sizing: border-box;
}

.inr ul{
    margin-top: -45px;
    margin-left: 50%;
    

}
.inr li{
    color: white;
}
.kkk{
    margin-left: 79%;
    margin-top: -34.50%;
}
.kkk input{
    background-color:  transparent;
    color: white;
    border-radius: 13px;
    cursor: pointer;
}
.inr h1{
    margin-left: 10px;
}
.ooo{
    margin-top: 140px;
    font-weight: bolder;
    font-size: larger;
    width: 600px;
    color: white;



}
.ooo h3{
    background-color: rgb(16, 144, 212);
    width: 150px;
    text-align: center;
    color: white;
}
.www{
    font-size: larger;
    font-style: italic;   
}
.ooo p{
    font-weight: 100;
}
.wws{
    margin-top: -5px;
    font-weight: 80;
    width: 150px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}
ul li{
    float: left;
    color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-top: 10px;
}
.sss{
    background-image: url(img/white.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 900px;
    height: 300px;
    margin-top: 60px;
    margin-left: -50px;
}
.sss h3{
    margin-left: 100px;
    border-style: solid; 
    width: 130px;
    text-align: center;

}
.sss p{
    color: rgb(155, 9, 9);
    margin-left: 140px;
    font-weight: 100;
    width: 400px;
    font-size: xx-large;
}
.sss h2{
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: -19px;
    background-color: rgb(221, 36, 67);
    width: 220px;
    text-align: center;
    color: white;
    font-weight: 100;
}
.kkk button{
   border: 12px;
}
.list{
    margin-left: 68%;
    margin-top: -50%;
    
}
.list ul{
    margin-left: 40px;
}
.we li{
    margin-top: 40px;
    margin-left: -15px;
    
}
.lp li{
    margin-right: 25%;
    margin-left: -5%;
}
.child{
    margin-top: 30%;
}
.img{
    margin-right: 50%;
    width: 450px;
    height: 200px;
}
.em{
    font-weight: 100;
    font-size: xx-large;
    width: 420px;
    margin-top: -0.2%;
    margin-left: 23px;
}
.me{
    margin-left: 23px;
    width: 400px;
    margin-top: -1%;
}
.child h3{
    border-style: solid;
    margin-left: 23px;
    width: 130px;
    text-align: center;
}
.child h4{
    width: 90px;
    height: 27px;
    text-align: center;
    margin-top: 50%;
}
.science img{ 
    width: 400px;
    height: 300px;

}
.science{
    margin-left: 37%;
    margin-top: -50%;
}
.sci{
    font-size: xx-large;
    font-weight: 100;
    width: 400px;
    margin-top: -0.8%;
    margin-bottom: -1%;
}
.science p{
    width: 400px;
    margin-bottom: -1%;
}
.science h4{
    border-style: solid;
    width: 120px;
    text-align: center;
}
.nat{
    width: 450px;
    height:400px;

}
.nature p{
    margin-top: -10%;
    margin-left: 2%;
    background-color: rgba(0, 0, 0, 0.292);
    font-size: xx-large;
    font-weight: 100;
    width: 400px;
    color: white;
}
.read{
    margin-left: 38%;
    margin-top: -30%;
}
.re{
    width: 400px;
    font-size: xx-large;
    font-weight: 200;
}
.read p{
    width: 370px;
}
.read h4{
    border-style: solid;
    width: 120px;
    text-align: center;
}
.A{
    width: 100px;
    height: 100px;
    margin-left:-50%;
}
.B{
    width: 100px;
    height: 100px;
    margin-left: 8%;
}
.C{
    width: 100px;
    height: 100px;
    margin-left: 8%;
}
.D{
    width: 100px;
    height: 100px;
    margin-left: 2%;
}
.E{
    width: 100px;
    height: 100px;
    margin-left: 8%;
}
.F{
    width: 100px;
    height: 100px;
    margin-left: -147.3%;
    margin-top: 2%;

}
.photo{
    margin-left: 80%;
    margin-top: -17%;
    margin-right: 12px;
}
.photo h2{
    margin-left: -25%;
    margin-top:-30%;
}





